In [42]:
import tables
import os
import hdf5_getters as h5
# import json
import pandas as pd

# http://millionsongdataset.com/
MSD = './MillionSongSubset'

# http://millionsongdataset.com/lastfm/#api
LASTFM = "./lastfm_train"

# https://core.ac.uk/download/pdf/76535286.pdf
MOODY = "./MoodyLyrics"

# https://www.kaggle.com/datasets/cakiki/muse-the-musical-sentiment-dataset/data
MuSe = "./muse_v3.csv"

MXM_TRAIN = "./mxm_dataset_train.csv"
MXM_TEST = "./mxm_dataset_test.csv"

In [11]:
def dig(path, ftype):
    """
    returns list of all files of the specified extension in every recursive subdirectory in a given parent dir
    """
    paths = []
    for dirpath, _, files in os.walk(path):
        paths += [(dirpath + "/" + f) for f in files if f.endswith(ftype)]
    return paths

### MillionSongs

In [12]:
# dig for files
files = dig(MSD, ".h5")
# print example
print(files[1])

./MillionSongSubset/A/X/X/TRAXXQA128F9301855.h5

In [13]:
with tables.open_file(files[4053], mode='r') as f:
    print("Artist", h5.get_artist_name(f))
    print("Song", h5.get_title(f))
    print("Album", h5.get_release(f))
    print("Familiarity", h5.get_artist_familiarity(f))
    print("Hotttnesss", h5.get_artist_hotttnesss(f))
    print("Danceability", h5.get_danceability(f))
    print("artistid", h5.get_artist_id(f))
    print("tags", h5.get_artist_mbtags(f))
    print("tags", h5.get_artist_mbtags_count(f))
    print("id", h5.get_track_id(f))
    print('song_id', h5.get_song_id(f))
    print(files[4053])

Artist b'Saosin'
Song b'Bury Your Head'
Album b'Saosin EP'
Familiarity 0.7550771510720238
Hotttnesss 0.5637637522823244
Danceability 0.0
artistid b'ARGO67V1187B9968D2'
tags [b'post-hardcore' b'alternative rock' b'rock' b'american']
tags [1 1 1 1]
id b'TRACFZI128E0795424'
song_id b'SOCTJIL12A67ADAF3F'
./MillionSongSubset/A/C/F/TRACFZI128E0795424.h5

### MoodyLyrics

In [7]:
mood_df = pd.read_excel(MOODY + "/ml_raw.xlsx", sheet_name="MoodyLyrics_no_lyrics_publish", header=15)
print(mood_df)
moody = mood_df.to_dict()

       Index           Artist               Title     Mood
0        ML1            Usher  There Goes My Baby  relaxed
1        ML2         Da'Ville          On My Mind  relaxed
2        ML3          Rihanna       Rockstar 101   relaxed
3        ML4       J. Holiday                 Bed  relaxed
4        ML5  Morgan Heritage   Don't Haffi Dread    angry
...      ...              ...                 ...      ...
2590  ML2591           Slayer    Fight Till Death    angry
2591  ML2592          Anthrax    Among the Living    angry
2592  ML2593            Opeth       Heir Apparent      sad
2593  ML2594        Sepultura           Territory    angry
2594  ML2595      Bing Crosby       Sweet Leilani  relaxed

[2595 rows x 4 columns]

In [8]:
artists = moody["Artist"]
titles = moody["Title"]
moods = moody["Mood"]

In [158]:
coupled_data = {i : (artists[i], titles[i]) for i in artists}
coupled = [(artists[i], titles[i]) for i in artists]
coupled[67], moods[67], coupled_data[67]

(('Three Days Grace', 'Riot'), 'angry', ('Three Days Grace', 'Riot'))

In [156]:
mapping = {}
for x in range(len(files)):
    with tables.open_file(files[x], 'r') as f:
        id = h5.get_artist_id(f)
        # print(id, str(id)[2:-1])
        name = h5.get_artist_name(f).decode('UTF-8')
        title = h5.get_title(f).decode('UTF-8')
        if (name, title) in coupled:
            print(name, title)
            i = coupled.index((name, title))
            print(i)
            mapping[x] = (name, title, x, moods[i])

intersect The Gathering Locked Away
2305
intersect Fontella Bass Rescue Me
344
intersect John Berry Ninety Miles An Hour
2343
intersect My Chemical Romance You Know What They Do To Guys Like Us In Prison (Album Version)
2334
intersect Sick Of It All Consume (LP Version)
2328
intersect Juelz Santana There It Go (The Whistle Song)
2521
intersect Bob Marley & The Wailers Rainbow Country (Red Gold And Green Version)
2396
intersect The Misfits The Haunting
2327
intersect Nirvana Polly
380
intersect Thrice The Earth Isn't Humming
2457
intersect Junior Kimbrough Meet Me in the City
2310
intersect Rancid Black Lung (Album Version)
2313
intersect DeGarmo & Key Destined To Win
2539
intersect Doyle Bramhall That's How Strong My Love Is
2333
intersect Whitesnake Love Ain't No Stranger (2003 Digital Remaster)
2394
intersect The Cardigans Paralyzed
2441
intersect Inspiral Carpets Party In The Sky
2464
intersect Evergreen Terrace Look Up At The Stars And You're Gone
2439
intersect Muse Supermassive Black Hole (Album Version)
2389
intersect Black Flag Police Story
2312

In [102]:
i = 0
while True:
    with tables.open_file(files[i], 'r') as f:
        if h5.get_artist_id(f)[2:-1] in 
    i += 1

       Index           Artist               Title     Mood
0        ML1            Usher  There Goes My Baby  relaxed
1        ML2         Da'Ville          On My Mind  relaxed
2        ML3          Rihanna       Rockstar 101   relaxed
3        ML4       J. Holiday                 Bed  relaxed
4        ML5  Morgan Heritage   Don't Haffi Dread    angry
...      ...              ...                 ...      ...
2590  ML2591           Slayer    Fight Till Death    angry
2591  ML2592          Anthrax    Among the Living    angry
2592  ML2593            Opeth       Heir Apparent      sad
2593  ML2594        Sepultura           Territory    angry
2594  ML2595      Bing Crosby       Sweet Leilani  relaxed

[2595 rows x 4 columns]

### MXM xref MillionSongs

In [ ]:
songs = {}
for x in range(len(files)):
    with tables.open_file(files[x], 'r') as f:
        name = h5.get_artist_name(f).decode('UTF-8')
        title = h5.get_title(f).decode('UTF-8')
        track_id = h5.get_track_id(f).decode('UTF-8')
        songs[track_id] = (name, title)
print("done")

In [62]:
with open(MXM_TRAIN, 'r') as filein, open('mxm_new_train.csv', 'w') as newfile:
    for line in filein:
        cols = line.split(',')
        new_delim = ';'.join(cols[:2]) + ';' + ','.join(cols[2:])
        newfile.write(new_delim)

In [63]:
mxm = pd.read_csv("mxm_new_train.csv", delimiter=";", header=None, names=['track_ID', 'ID', 'word_counts'])

def convert_to_dict(word_count_string):
    pairs = word_count_string.split(',')
    word_count_dict = {int(pair.split(':')[0]): int(pair.split(':')[1]) for pair in pairs}
    return word_count_dict

mxm['word_counts'] = mxm['word_counts'].apply(convert_to_dict)
mxm

,track_ID,ID,word_counts
0,TRAAAAV128F421A322,4623710,"{1: 6, 2: 4, 3: 2, 4: 2, 5: 5, 6: 3, 7: 1, 8: ..."
1,TRAAABD128F429CF47,6477168,"{1: 10, 3: 17, 4: 8, 5: 2, 6: 2, 7: 1, 8: 3, 9..."
2,TRAAAED128E0783FAB,2516445,"{1: 28, 2: 15, 3: 2, 4: 12, 5: 22, 6: 2, 7: 2,..."
3,TRAAAEF128F4273421,3759847,"{1: 5, 2: 4, 3: 3, 4: 2, 5: 1, 6: 11, 9: 4, 12..."
4,TRAAAEW128F42930C0,3783760,"{1: 4, 4: 5, 5: 7, 6: 2, 7: 4, 9: 1, 10: 1, 11..."
...,...,...,...
210514,TRZZZWS128F429CF87,3080645,"{6: 1, 24: 9, 38: 7, 42: 1, 77: 4, 90: 1, 112:..."
210515,TRZZZXA128F428ED56,2344272,"{1: 1, 2: 13, 3: 6, 4: 5, 5: 4, 6: 6, 9: 4, 10..."
210516,TRZZZXV128F4289747,1417347,"{1: 13, 2: 3, 3: 17, 4: 5, 5: 9, 7: 8, 8: 2, 9..."
210517,TRZZZYV128F92E996D,6849828,"{1: 10, 2: 6, 3: 20, 5: 2, 7: 30, 8: 1, 9: 6, ..."
210518,TRZZZYX128F92D32C6,681124,"{1: 4, 2: 18, 4: 3, 5: 6, 6: 9, 7: 1, 8: 5, 9:..."

In [50]:
mxm["Artist"] = None
mxm["Title"] = None
mxm

,track_ID,ID,word_counts,Artist,Title
0,TRAABRX12903CC4816,1548880,"{2: 19, 4: 7, 5: 6, 10: 1, 12: 13, 13: 6, 17: ...",None,None
1,TRAADFO128F92E1E91,5325944,"{1: 79, 2: 66, 3: 15, 4: 7, 5: 8, 6: 9, 7: 5, ...",None,None
2,TRAADQW128F427CE68,3811449,"{1: 3, 2: 3, 3: 2, 7: 4, 8: 1, 9: 3, 11: 1, 12...",None,None
3,TRAADRX12903D0EFE8,5583484,"{1: 1, 6: 5, 7: 1, 10: 1, 41: 1, 47: 1, 102: 1...",None,None
4,TRAAEJQ128F92C484E,9124657,"{1: 28, 2: 7, 3: 12, 4: 3, 5: 4, 6: 3, 7: 1, 8...",None,None
...,...,...,...,...,...
27138,TRZZXFY128F9342D0E,1265451,"{1: 24, 2: 3, 3: 22, 4: 7, 5: 4, 6: 15, 7: 12,...",None,None
27139,TRZZXOQ128F932A083,4292070,"{1: 12, 4: 2, 5: 1, 8: 1, 9: 3, 11: 1, 13: 2, ...",None,None
27140,TRZZXVN128F93285B4,7528751,"{10: 7, 22: 1, 28: 4, 54: 2, 97: 7, 102: 2, 10...",None,None
27141,TRZZYLF128F9316CAB,3748433,"{10: 5, 28: 2, 41: 3, 47: 12, 102: 4, 112: 6, ...",None,None
27142,TRZZZZD128F4236844,2466899,"{1: 13, 2: 12, 3: 4, 4: 3, 5: 2, 6: 7, 7: 2, 8...",None,None

In [65]:
for idx, row in mxm.iterrows():
    track_id = row['track_ID']
    if track_id in songs:
        mxm.at[idx, 'Artist'], mxm.at[idx, 'Title'] = songs[track_id]
mxm

,track_ID,ID,word_counts,Artist,Title
0,TRAAAAV128F421A322,4623710,"{1: 6, 2: 4, 3: 2, 4: 2, 5: 5, 6: 3, 7: 1, 8: ...",NaN,NaN
1,TRAAABD128F429CF47,6477168,"{1: 10, 3: 17, 4: 8, 5: 2, 6: 2, 7: 1, 8: 3, 9...",The Box Tops,Soul Deep
2,TRAAAED128E0783FAB,2516445,"{1: 28, 2: 15, 3: 2, 4: 12, 5: 22, 6: 2, 7: 2,...",NaN,NaN
3,TRAAAEF128F4273421,3759847,"{1: 5, 2: 4, 3: 3, 4: 2, 5: 1, 6: 11, 9: 4, 12...",Adam Ant,Something Girls
4,TRAAAEW128F42930C0,3783760,"{1: 4, 4: 5, 5: 7, 6: 2, 7: 4, 9: 1, 10: 1, 11...",NaN,NaN
...,...,...,...,...,...
210514,TRZZZWS128F429CF87,3080645,"{6: 1, 24: 9, 38: 7, 42: 1, 77: 4, 90: 1, 112:...",NaN,NaN
210515,TRZZZXA128F428ED56,2344272,"{1: 1, 2: 13, 3: 6, 4: 5, 5: 4, 6: 6, 9: 4, 10...",NaN,NaN
210516,TRZZZXV128F4289747,1417347,"{1: 13, 2: 3, 3: 17, 4: 5, 5: 9, 7: 8, 8: 2, 9...",NaN,NaN
210517,TRZZZYV128F92E996D,6849828,"{1: 10, 2: 6, 3: 20, 5: 2, 7: 30, 8: 1, 9: 6, ...",NaN,NaN
210518,TRZZZYX128F92D32C6,681124,"{1: 4, 2: 18, 4: 3, 5: 6, 6: 9, 7: 1, 8: 5, 9:...",NaN,NaN

In [66]:
mxm.dropna(subset=['Artist'], inplace=True)
mxm.drop(columns=["track_ID", "ID"], inplace=True)
mxm

,word_counts,Artist,Title
1,"{1: 10, 3: 17, 4: 8, 5: 2, 6: 2, 7: 1, 8: 3, 9...",The Box Tops,Soul Deep
3,"{1: 5, 2: 4, 3: 3, 4: 2, 5: 1, 6: 11, 9: 4, 12...",Adam Ant,Something Girls
5,"{1: 16, 2: 4, 4: 1, 5: 3, 6: 5, 7: 5, 8: 3, 9:...",Gob,Face the Ashes
11,"{1: 6, 2: 7, 3: 3, 4: 1, 5: 15, 6: 10, 7: 1, 8...",Planet P Project,Pink World
19,"{1: 6, 2: 5, 3: 10, 4: 4, 5: 6, 6: 2, 7: 6, 8:...",Lionel Richie,Tonight Will Be Alright
...,...,...,...
11017,"{1: 21, 2: 7, 3: 17, 4: 7, 5: 9, 6: 2, 7: 8, 8...",Chantal Chamandy,Zindegi
11022,"{3: 1, 4: 3, 10: 1, 19: 6, 22: 2, 26: 1, 28: 4...",Mouth Of The Architect,Harboring An Apparition
11023,"{2: 24, 4: 11, 5: 8, 6: 2, 9: 2, 10: 2, 13: 6,...",It Dies Today,One the road (to Damnation)
11026,"{1: 4, 2: 10, 3: 14, 4: 1, 5: 8, 6: 7, 7: 8, 8...",Moonspell,The Hanged Man
11036,"{1: 14, 2: 5, 3: 11, 4: 10, 7: 19, 8: 1, 9: 1,...",Seventh Day Slumber,Shattered Life

In [41]:
mxm.to_csv("mxm_train.csv", ";")

### MuSe xref MXM

In [87]:
muse = pd.read_csv(MuSe)
muse.drop(columns=["lastfm_url", "mbid", "spotify_id"], inplace=True)
muse

,Title,Artist,seeds,number_of_emotion_tags,valence_tags,arousal_tags,dominance_tags,genre
0,'Till I Collapse,Eminem,['aggressive'],6,4.550000,5.273125,5.690625,rap
1,St. Anger,Metallica,['aggressive'],8,3.710000,5.833000,5.427250,metal
2,Speedin',Rick Ross,['aggressive'],1,3.080000,5.870000,5.490000,rap
3,Bamboo Banga,M.I.A.,"['aggressive', 'fun', 'sexy', 'energetic']",13,6.555071,5.537214,5.691357,hip-hop
4,Die MF Die,Dope,['aggressive'],7,3.771176,5.348235,5.441765,metal
...,...,...,...,...,...,...,...,...
89996,Battle,Gaby Hoffmann & Jay Duplass,['transparent'],1,5.370000,3.450000,5.330000,NaN
89997,Hands Tied to the Roots of a Hemorrhage,Omar Rodriguez-Lopez,['transparent'],4,5.797887,4.132254,5.570563,progressive rock
89998,Crookfield Zoo,Ace White,['transparent'],1,5.370000,3.450000,5.330000,NaN
89999,Transparent (Full Version),Second Chyld,['transparent'],1,5.370000,3.450000,5.330000,NaN
90000,Unfold,Message To Bears,['translucent'],2,3.340000,1.405000,3.500000,ambient

In [88]:
mxm = pd.read_csv("mxm_labels.csv", delimiter=";")
mxm

,Unnamed: 0,word_counts,Artist,Title
0,1,"{1: 10, 3: 17, 4: 8, 5: 2, 6: 2, 7: 1, 8: 3, 9...",The Box Tops,Soul Deep
1,3,"{1: 5, 2: 4, 3: 3, 4: 2, 5: 1, 6: 11, 9: 4, 12...",Adam Ant,Something Girls
2,5,"{1: 16, 2: 4, 4: 1, 5: 3, 6: 5, 7: 5, 8: 3, 9:...",Gob,Face the Ashes
3,11,"{1: 6, 2: 7, 3: 3, 4: 1, 5: 15, 6: 10, 7: 1, 8...",Planet P Project,Pink World
4,19,"{1: 6, 2: 5, 3: 10, 4: 4, 5: 6, 6: 2, 7: 6, 8:...",Lionel Richie,Tonight Will Be Alright
...,...,...,...,...
2345,11017,"{1: 21, 2: 7, 3: 17, 4: 7, 5: 9, 6: 2, 7: 8, 8...",Chantal Chamandy,Zindegi
2346,11022,"{3: 1, 4: 3, 10: 1, 19: 6, 22: 2, 26: 1, 28: 4...",Mouth Of The Architect,Harboring An Apparition
2347,11023,"{2: 24, 4: 11, 5: 8, 6: 2, 9: 2, 10: 2, 13: 6,...",It Dies Today,One the road (to Damnation)
2348,11026,"{1: 4, 2: 10, 3: 14, 4: 1, 5: 8, 6: 7, 7: 8, 8...",Moonspell,The Hanged Man
2349,11036,"{1: 14, 2: 5, 3: 11, 4: 10, 7: 19, 8: 1, 9: 1,...",Seventh Day Slumber,Shattered Life

In [89]:
mxmuse = pd.merge(mxm, muse[['Title', 'Artist', 'valence_tags', 'arousal_tags', 'dominance_tags', 'seeds']], on=['Artist', 'Title'], how='inner')
mxmuse.drop(columns=["Unnamed: 0"], inplace=True)
mxmuse

,Unnamed: 0,word_counts,Artist,Title,valence_tags,arousal_tags,dominance_tags,seeds
0,66,"{6: 7, 7: 2, 24: 1, 38: 3, 42: 3, 47: 8, 77: 4...",Soda Stereo,Entre Caníbales,3.130000,2.997500,3.212500,['nostalgic']
1,117,"{1: 32, 2: 16, 3: 20, 4: 21, 5: 3, 6: 5, 7: 22...",Boyz II Men,On Bended Knee,6.472533,4.509067,5.800933,['romantic']
2,172,"{1: 10, 2: 8, 3: 1, 4: 8, 5: 7, 6: 3, 7: 2, 8:...",Pearl Jam,Inside Job,6.470000,3.962609,5.741304,['epic']
3,227,"{1: 17, 2: 17, 3: 15, 4: 26, 5: 8, 6: 19, 7: 4...",Busdriver,(Bloody Paw On The) Kill Floor,2.540000,2.045000,2.305000,['apocalyptic']
4,250,"{2: 11, 3: 2, 4: 6, 5: 2, 6: 8, 7: 3, 10: 6, 1...",Orbital,Illuminate,5.628889,3.875111,4.814222,['driving']
...,...,...,...,...,...,...,...,...
81,10550,"{1: 12, 2: 16, 3: 14, 4: 24, 5: 8, 9: 12, 10: ...",22-20s,Hold On,3.033333,4.130000,4.336667,['brooding']
82,10552,"{1: 6, 2: 5, 3: 6, 4: 2, 5: 4, 6: 1, 7: 9, 8: ...",Weezer,Mykel And Carli,6.586408,4.900583,5.632233,"['bittersweet', 'sweet']"
83,10685,"{1: 2, 2: 8, 3: 2, 4: 5, 5: 5, 6: 5, 7: 4, 8: ...",Scott Matthews,City Headache,6.024516,3.301613,6.112258,['quiet']
84,10907,"{1: 5, 2: 8, 3: 5, 4: 2, 5: 11, 6: 1, 7: 3, 8:...",K's Choice,20.000 Seconds,4.252000,3.878000,4.700000,['light']
85,10973,"{1: 10, 2: 24, 3: 7, 4: 4, 5: 7, 6: 10, 7: 1, ...",The Killers,A Dustland Fairytale,6.565763,4.728475,5.585932,['epic']

In [108]:
mxmuse.to_csv("mxmuse.csv", ";")